.contact{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 442px;
    background: #0C0C0C;
    border: 1px solid rgba(220, 202, 135, 0.2);
    box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.7);
}
.contact h3{
font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 700;
font-size: 23px;
line-height: 130%;
text-align: center;
padding-top: 20px;
padding-bottom: 20px;
letter-spacing: 0.04em;
text-transform: capitalize;
font-feature-settings: 'tnum' on, 'lnum' on;
color: #FFFFFF;
}
.h1-golden{
font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 130%;
text-align: center;
letter-spacing: 0.03em;
text-transform: capitalize;
font-feature-settings: 'tnum' on, 'lnum' on;
color: #DCCA87;
}
.contact p{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: grey;
}
.contact__form{
    text-align: center;
    display: flex;
}
.contact__form input {
    width: 100%;
    height: 60px;
    border: 1px solid #F5EFDB;
    background-color: transparent;
    padding: 10px;
    margin-right: 30px;
    color: #FFFFFF;
    outline: none;
}

.contact__form button{
    padding: 20px;
    background-color: #DCCA87;
    font-weight: 700;
}
.footer__end__section{
    display: grid;
    padding-top: 100px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 40px;
    text-align: center;
}
.contactus h2{
    font-family: 'Cormorant Upright';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #F5EFDB;
    margin-bottom: 20px;
}
.p-gray{
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 175%;
margin-bottom: 10px;
letter-spacing: 0.04em;
color: #AAAAAA;
}