.find{
    color: #FFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.find img{
    height:600px;
    width: 400px;
    margin-left: 70px;
    margin-top: 30px;
}
.find__us h3{

font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 700;
font-size: 23px;
line-height: 130%;
letter-spacing: 0.04em;
text-transform: capitalize;
color: #FFFFFF;
}

.find__us h1{
    font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 130%;
letter-spacing: 0.04em;
text-transform: capitalize;
color: #DCCA87;
}
.find__us p{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 175%;
letter-spacing: 0.04em;
color: #AAAAAA;
margin-top: 20px;
margin-bottom: 20px;
}
.find__us h4{
    font-family: 'Cormorant Upright';
font-style: normal;
font-weight: 700;
font-size: 23px;
line-height: 130%;
letter-spacing: 0.04em;
text-transform: capitalize;
font-feature-settings: 'tnum' on, 'lnum' on;
color: #DCCA87;
}
.find button{
    padding: 20px;
    background-color: #DCCA87;
    font-weight: 700;
}